
		br {
			display: block;
			margin-bottom: 1px;
			font-size:1px;
			line-height: 11px;
		}
		
		#styleofwords{
			
			font-family: "Electrolize";
		}
		
		
		#tableborders {
			border-style: solid;
			border-color: #009933 #ffffff;
			border-right: 0px solid #000;
			border-width: 0 px;
			margin: 0 0 0 0;
		}
		
		
		
		#styleofwords0{
			font-size: 23px;
			
			font-family: "Electrolize";
			text-align: left;
			background: #151515;
			color: #ffffff;
			padding: 0 0 0 1%;
			/*display: block;*/
			margin: 0 0 0 0;
			width: 100%;
		}
		
		
		
		#styleofwords2a{
			font-size: 23px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(0, 81, 119);
			color: #ffffff;
			padding: 2% 2% 2% 1%;
			/*display: block;*/
			margin: 0 0 0 0;
			width: 100%;
		}
		
		
		#styleofwords2b{
			font-size: 15px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(0, 81, 119);
			color: #ffffff;
			padding: 2% 2% 2% 1%;
			/*display: block;*/
			margin: 0 0 0 0;
			width: 100%;
		}
		
		
		#styleofwords2{
			font-size: 23px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(0, 87, 130); 
			color: #ffffff;
			padding: 0 0 0 1%;
			/*display: block;*/
			margin: 0 0 0 0;
			width: 100%;
		}
		
		#styleofwords3{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 3.5px;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords4{
			font-size: 21px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: red;
			padding: 0 0 0 0;
			/*display: block;*/
			margin: 0 0 0 0;
			height: 70px;
		}
		
		#styleofwords5{
			font-size: 21px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 0 0 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
			height: 70px
		}
		
		#styleofwords6{
			font-size: 21px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 0 0 0 19%;
			/*display: block;*/
			margin: 0 0 0 0;
			height: 70px
		}
		
		
		#styleofwords7{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 0 12 0 29;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords7a{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: red;
			color: #ffffff;
			padding: 0 17% 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords7a2{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: green;
			color: #ffffff;
			padding: 0 20% 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords7a3{
			font-size: 16px;
			
			font-family: "Electrolize";
			text-align: left;
			background: green;
			color: #ffffff;
			padding: 0 0% 0% 2%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		
		#styleofwords7b{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: red;
			color: #ffffff;
			padding: 0 11% 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		#styleofwords7c{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: red;
			color: #ffffff;
			padding: 0 24% 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		#styleofwords7d{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: red;
			color: #ffffff;
			padding: 0 32% 0 0%;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		
		#styleofwords7{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 0 12 0 29;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		
		#styleofwords8{
			font-size: 15px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: red;
			padding: 3.5px;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords8a{
			font-size: 15px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: rgb(0,111,36);
			padding: 0 0 0 16px;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		#styleofwords9{
			font-size: 23px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 3.5px;
			/*display: block;*/
			margin: 0 0 0 0;
		}
		
		
		
		#styleofwords10{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: right;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 0 12 0 29;
			/*display: block;*/
			border-style: solid black 1px;
			
		}
		
		
		#styleofwords11{
			font-size: 23px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131);
			color: #ffffff;
			padding: 3.5px;
			/*display: block;*/
			margin: 0 0 0 1;
		}
		
		#styleofwords12{
			font-size: 18px;
			
			font-family: "Electrolize";
			text-align: left;
			background: rgb(29 ,116, 131); 
			color: red;
			padding: 3.5px;
			/*display: block;*/
			margin: 0 0 0 1;
		}
		
		
		
		*{
			padding: 0px;
			margin: 0px;
		}
	
		div#container{
			width: 100%;

		}
		
		ul#menu {
			width: 100%;
			list-style: none;
			position: fixed;
		}

		
		ul#menu li{
			float: left;
			width: 14.2%;
			height: 38px;
			background: rgb(0, 81, 119)/*rgb(77, 121, 255)*/;
			margin: 0 0 0 0;
			padding: 0px;
			/*opacity: 0.97;
			filter: alpha(opacity=0);*/
		}
		
		
		
		ul#menu li a{
			height: 32px;
			text-decoration: none;
			font-size: 25px;
			/**/
			font-family: "Electrolize", Helvetica, light;
			text-align: center;
			background: rgb(0, 81, 119);
			color: #ffffff;
			padding: 3% 0 1% 0%;
			display: block;
			border-style: solid;
			border-color: #ffffff;
			border-width: 0 0.5px 0 0.5;
			
			
			/*opacity: 0.8;
			filter: alpha(opacity=50);
			background-image: url('pictures/searchicon.png');*/
		}
		
		
		ul#menu li div a{
			float: left;
			width: 90%;
			height: 25.5px;
			/*height: 18px;*/
			text-decoration: none;
			font-size: 20px;
			/**/
			font-family: "Electrolize";
			text-align: center;
			background: #05AB3D;
			color: #ffffff;
			padding: 0px;
			display: block;
			text-align: left;
			margin: 0 0 0px 0;
			padding: 2% 0 0% 10%;
			border-style: solid;
			border-color: #006697 #005177 #005177 #005177 ;
			border-width: 0.1px;
			margin: 0 0 0 0;
			opacity: 1;
			filter: alpha(opacity=100);
		}
		
		
		ul#menu li a:hover{
			background: #000000;
		}
		
		ul#menu li div{
			display: none;
		}

		
		ul#menu li:hover div {
			display: block;
			background-color: #141C16;
		}
		
		ul#menu li div a:nth-child(odd){
			display: block;
			background-color: rgb(29 ,116, 131);
		}
		
		ul#menu li div a:nth-child(even){
			display: block;
			background-color: rgb(29 ,116, 131);
		}
		
		ul#menu li div a:hover{
			background: #000000;
		}
		
		
		
		#tableborders2 {                              
			border-style: solid;
			border-color: #009933 #ffffff #009933 #009933;
			border-width: 0.5px;
			margin: 0 0.5px 0 0;
		}
		
		
		#tableborders3 {
			border-style: solid;
			border-color: #009933 #009933 #009933 #ffffff ;
			border-width: 0.5px;
		}
		
		
		#bgStyle { 
			background: url('pictures/bgCar.jpg') no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			margin: 0;
		}
		
		
		.input[type=submit]{
			padding: 5px 10px;
			font-size: 30px;
			
			font-family: "Electrolize";
			text-align: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: rgb(0, 81, 119);
			border: none;
			border-radius: 0 0 0 18;
		}
		
		.input[type=submit]:hover {background-color: #000000}

		.input[type=submit]:active {
		background-color: #000000;
		box-shadow: 0px #000000;
		
		}
		
		.input[type=submit]{
			padding: 5px 10px;
			font-size: 30px;
			
			font-family: "Electrolize";
			text-align: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: rgb(0, 81, 119);
			border: none;
			border-radius: 0 0 0 18;
		}
		
		.inputlog[type=submit]:hover {background-color: #000000}

		.inputlog[type=submit]:active {
		background-color: #000000;
		box-shadow: 0px #000000;
		}
		
		.inputlog[type=submit]{
			padding: 5px 10px;
			font-size: 20px;
			
			font-family: "Electrolize";
			text-align: center;
			width: 194px;
			height: 100%;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: rgb(0, 81, 119);
			border: none;
			border-radius: 0 0 0 0;
		}
		
		
		.button {
		padding: 5px 10px;
		font-size: 30px;
		
		font-family: "Electrolize";
		text-align: center;
		width: 100%;
		height: 100%;
		cursor: pointer;
		outline: none;
		color: #fff;
		background-color: rgb(0, 81, 119);
		border: none;
		border-radius: 0 0 18 0;
		}

		.button:hover {background-color: #000000}

		.button:active {
		background-color: #000000;
		box-shadow: 0px #000000;
		
		}
		
